* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(254, 250, 224);
  margin: 0px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navbar {
  height: 80px;
  background-color: rgb(40, 54, 24);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 0;
}

.logoImg {
  height: 40px;
  width: 40px;
}

.logoName {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  color: rgb(254, 250, 224);
  position: absolute;
  left: 70px;
}

.navItems {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;

  & li.with-counter {
    position: relative;

    & #counter {
      position: absolute;
      top: -10px;
      right: -16px;
      background-color: red;
      color: white;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
    }
  }
}

.navItems li {
  display: inline;
}

.navLink {
  text-decoration: none;
  color: rgb(254, 250, 224);
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
}

.navLink:hover {
  background-color: rgb(96, 108, 56);
}

.menu-toggle {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  color: rgb(254, 250, 224);
  cursor: pointer;
}

.navItems {
  display: flex;
  gap: 20px;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .navItems {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 20px;
    background-color: rgb(96, 108, 56);
    opacity: 90%;
    padding: 20px;
    z-index: 100;
  }

  .navItems.show {
    display: flex;
  }

  .navItems li {
    margin: 10px 0;
  }
}

footer {
  padding: 20px;
  background-color: rgb(40, 54, 24);
  color: rgb(254, 250, 224);
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.footer-section {
  flex: 1;
  margin: 0 10px;
}

.footer-section h3 {
  margin-bottom: 10px;
}

.footer-bottom {
  margin-top: 20px;
}

.footer-section a {
  color: rgb(254, 250, 224);
  text-decoration: none;
  margin: 0 10px;
  font-size: 24px;
}

.footer-section a:hover {
  color: rgb(200, 200, 200);
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgb(188, 108, 37);
  color: rgb(254, 250, 224);
  font-size: 24px;
  padding: 10px 15px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  display: none;
  z-index: 1000;
}

.scroll-to-top:hover {
  background-color: rgb(221, 161, 94);
  transform: scale(1.1);
}

#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: rgb(96, 108, 56);
  width: 340px;
  margin: 20px;
  position: relative;
  border-radius: 10px;
  flex-direction: column;
  gap: 8px;
  display: flex;
  align-items: center;
  padding: 10px;
  color: rgb(254, 250, 224);

  & img {
    width: 318px;
    aspect-ratio: 3/2.5;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
  }

  & .name {
    font-weight: bold;
    font-size: 24px;
    left: 70px;
    margin: 0;
  }

  & .price {
    font-weight: bold;
    font-size: 32px;
    left: 70px;
    margin: 0;
    background-color: rgb(40, 54, 24);
    border-radius: 5px;
    padding: 1px 8px;
    line-height: 36px;

    & .currency {
      margin-left: 3px;
      font-size: 20px;
      color: rgb(96, 108, 56);
    }
  }

  & .colors {
    display: flex;
    gap: 8px;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    & .color {
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
  }

  & .more-button {
    background-color: rgb(221, 161, 94);
    color: rgb(254, 250, 224);
    padding: 5px 8px;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    font-weight: 600;
  }

  & .more-button:hover {
    background-color: rgb(188, 108, 37);
    color: rgb(254, 250, 224);
    transform: scale(1.1);
  }

  & .quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    & button {
      background-color: rgba(0, 0, 0, 0);
      color: rgb(254, 250, 224);
      border: none;
      border-radius: 5px;
      padding: 5px 8px;
      font-size: 20px;
      cursor: pointer;
      transition: all 0.3s ease;
    }
    & input {
      color: rgb(254, 250, 224);
      background-color: rgb(40, 54, 24);
      text-align: center;
      width: 2rem;
    }
    & .addToCart {
      position: absolute;
      bottom: 5px;
      right: 5px;
      font-size: 30px;
    }
  }
}

#timer {
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  color: #333;
  text-align: center;
}

#timer div {
  margin: 10px;
  display: inline-block;
}

#timer span {
  font-weight: bold;
  font-size: 30px;
  color: #ff5733;
}

.timer {
  color: rgb(254, 250, 224);
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 24px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  & p{
    color: rgb(40, 54, 24);
    font-size: 48px;
    font-weight: 900;
  }
}

.timer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-number {
  font-size: 48px;
  font-weight: bold;
}

.timer-label {
  font-size: 16px;
  color: rgb(188, 108, 37);
}

.timer-section .timer-number {
  background-color: rgb(96, 108, 56);
  padding: 10px;
  border-radius: 5px;
}