html, body {
    height: 100%;
}

body {
    background-color: rgb(254, 250, 224);
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(imgs/bgimg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    min-height: 100vh;
}



.cancel {
    background-color: rgb(40, 54, 24);
    color: rgb(254, 250, 224);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 20px;
    margin-top: 20px;
}

.cancel:hover {
    background-color: rgb(254, 250, 224);
    color: rgb(40, 54, 24);
}

#info {
    display: flex;
    flex-direction: row;
    margin: 30px;
    background-color: rgb(188, 108, 37);
    border-radius: 10px;
    padding: 10px;
    & img {
        width: 300px;
        aspect-ratio: 3/2.5;
        object-fit: cover;
        border-radius: 20px;
        margin-right: 10px;
      }
    & .text {
        color: rgb(254, 250, 224);
        font-size: 18px;
        font-weight: bold;
        & .name {
            font-family: "Pacifico", cursive;
            font-size: 36px;
        }
    }
}